# BASH Aliases
alias ll='ls -l'
alias l='ls -l'
alias la='ls -la'
alias lt='ls -lt'
alias ltr='ls -ltr'

# GIT Aliases
alias st='git status'
alias d='git diff --patience'
alias padd='git add -p'
alias commit='git commit'

