# Make vim the default editor
export EDITOR="vim";
export GIT_EDITOR="vim";
export PAGER=less

# Place where the local installs will go to
export LOCAL_INSTALL_FOLDER=$HOME/.local;

# Rust
export RUSTUP_HOME=$LOCAL_INSTALL_FOLDER/rustup
export CARGO_HOME=$LOCAL_INSTALL_FOLDER/cargo
